.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.ItemContainer{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin:10px;
}
